:root {
    --clr-light: #ffffff;
    --clr-green: #1db954;
    --clr-dark: #191414;
}
body {
    margin: 0;
    font-family: 'Arial', serif;
    font-size: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

.landing {
    position: relative;
    height: 100vh;
    display: grid;
    place-items: center;
}

.landing a {
    color: var(--clr-dark);
}

.hero {
    display: grid;
    place-items: center;
}

h1 {
    font-family: 'Roboto';
    font-size: 4.5em;
    color: var(--clr-green);
    text-align: center;
}

button {
    border: none;
    background: var(--clr-green);
    padding: 1em;
}

button a {
    position: static;
    font-size: 1.35em;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}

a {
    position: absolute;
    align-self: end;
    justify-self: center;
}

button:hover,
.fas:hover {
    cursor: pointer;
}

.fas {
    width: 100%;
    text-align: center;
    color: var(--clr-dark);
}

.description {
    position: relative;
    display: grid;
    align-items: center;
}

.description p {
    position: absolute;
    color: var(--clr-light);
    font-size: 2em;
    margin-left: 10%;
    width: 30%;
}

.description .tint {
    width: 100%;
    background: #002b10;
}

#description-bg-video {
    width: 100%;
    max-height: 100vh;
    object-fit: cover;
    opacity: 0.3;
}

.description a {
    color: var(--clr-light);
}