body {
    margin: 0;
    font-size: 100%;
    color: white;
    background-color: rgb(24, 24, 24);
    width: 360px;
    font-family: 'Arial', serif;
}

* {
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    animation: zoomIn 1s;
    margin-bottom: 0;
}

#data {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0em .75em;
}
  
#data > div {
    flex: 1;
    justify-content: center;
    margin: .75em;
    cursor: pointer;
}
  
#data > div > img {
    min-width: 5vw;
    width: 100%;
    animation: zoomIn 1s;
}
  
#data > div > p {
    font-size: .7em;
    font-family: 'Arial';
    font-weight: 700;
    letter-spacing: .25px;
    margin: 0px;
    width: 10.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#info {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    animation: zoomIn 1s;
}

#song-name {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 4px;
    border-width: 2px;
    border-color: #AAA;
    background-color: rgb(24, 24, 24);
    font-family: 'Arial', monospace;
    transition: 0.2s;
    width: 60%;
    text-align: center;
    color: #FFF;
}

#song-name:read-only {
    border-color: #555;
    color: #888;
}

#confirmation {
    display: none;
    text-align: center;
}

#confirmation p {
    animation: jackInTheBox 0.75s;
}

iframe {
    margin: 0 auto;
    display: block;
    padding: 0.5em;
}

#footer {
    text-align: center;
    font-size: 0.75em;
}

#header {
    margin-top: 1em;
    margin-bottom: 0;
    animation: zoomIn 1s;
    text-align: center;
    font-size: 1em;
}

a {
    cursor: pointer;
    animation: fadeIn 1s;
    transition: all 0.1s ease-in-out;
    color: white;
    text-decoration: none;
}

a:hover,
a p:hover {
    opacity: 0.8;
}

.notyf__toast {
    box-shadow: none;
}

.notyf__toast--lower {
    margin-top: 0px;
}